<% include head %>

<form role="form" action="/goods/<%= goods.id %>/modify" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Simple words about the goods" name="title" value="<%= goods.title %>">
  </div>
  <div class="checkbox">
    <label><% if (goods.status === 'published') { %>
      <input type="checkbox" name="finished" value="0"> Has it been sold?
    <% } else { %>
      <input type="checkbox" name="finished" value="1" checked> Has it been sold?
    <% } %>
    </label>
  </div>
  <div class="form-group">
    <label for="content">Description</label>
    <textarea name="content" id="content" placeholder="Describe the goods in detail." class="form-control" rows="7"><%= goods.content %></textarea>
  </div>
  <div class="form-group">
    <label>Images</label>
<% for (var i = 0; i < goods.images.length; ++i) { 
  if (i % 4 == 0) {
%>
    <div class="row">
<% } %>
      <div class="col-xs-12 col-sm-6 col-md-3 image-to-modify-div">
        <div class="thumbnail">
          <a href="/<%= settings.upload %>/<%= goods.images[i].path %>" target="_blank"><img src="/<%= settings.upload %>/<%= goods.images[i].path %>" alt="image"></a>
          <div class="caption">
            <p><button href="#" class="btn btn-danger" role="button">Delete</button>
              <input type="hidden" name="delete[<%= i %>]" value="no"></p>
          </div>
        </div>
      </div>
<% if (i % 4 == 3 || i == goods.images.length-1) { %>
    </div>
<%   } %>
<% } %>
  </div>
  <div class="form-group">
    <label>Upload Image</label>
    <div class="upload-group">
      <input type="file" class="form-control" name="images[0]">
    </div>
    <a class="btn btn-default add-upload">Add an image</a>
  </div>
  <div class="form-group">
    <label for="tags">Tags</label>
    <input type="text" class="form-control" id="tags" placeholder="Classify the goods, use ',' to split up." name="tags" value="<%= goods.tags %>">
  </div>
  <button type="submit" class="btn btn-primary">Modify</button>
</form>

<!--foot-->
</div>
<script src="//cdnjscn.b0.upaiyun.com/libs/jquery/1.10.0/jquery.min.js"></script>
<script src="//cdnjscn.b0.upaiyun.com/libs/twitter-bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script>
var totfiles = 1;
$(".add-upload").on('click', function(e) {
  e.preventDefault();
  $('.upload-group').append('<input type="file" class="form-control" name="images['+ (totfiles++) +']">');
  return false;
});
$(".image-to-modify-div button").on('click', function(e) {
  e.preventDefault();
  var btn = $(this);
  var div = btn.parent().parent().parent();
  var img = div.find("img");
  var input = btn.parent().find("input");
  if (btn.hasClass("active")) {
    btn.html("Delete");
    btn.removeClass("active");
    div.css({ opacity: 1. });
    img.css({ opacity: 1. });
    input.val("no");
  } else {
    btn.html("Will be deleted");
    btn.addClass("active");;
    div.css({ opacity: .5 });
    img.css({ opacity: .1 });
    input.val("yes");
  }
  return false;
});
</script>
</body>
</html>